<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="static/styles/table.css" media="all" />
</head>
<body>
    <section>
      <!--for demo wrap-->
      <h1>Manage Telegram Bots</h1>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0" border="0">
          <thead>
            <tr>
              <th>Name</th>
                <th>Token</th>
                <th>Status</th>
                <th>Turn ON</th>
                <th>Turn OFF</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0" border="0">
          <tbody>
            {% for i in bots %}
                <tr>
                    <td>{{i.name}}</td>
                    <td>{{i.token}}</td>
                    <td status="{{i.status}}">{{i.status}}</td>
                    <td><a target="_blank" href="https://trefoil-1138.appspot.com/set_webhook/{{i.token}}">Turn On</a></td>
                    <td><a target="_blank" href="https://trefoil-1138.appspot.com/unset_webhook/{{i.token}}">Turn Off</a></td>
                </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </section>

</body>
</html>